:root {
  --azul-oscuro-1: #05183c;
  --azul-oscuro-2: #06296b;
  --azul-medio: #1a3c7d;
  --azul-brillante: #0d56df;

  --azul-grafito: #335c7d;
  --azul-claro: #417cea;
}

/* Sección superior */
#navBarSuperior{
background-color: var(--azul-oscuro-1);

}

#navBarPrincipal{
  background-color: var(--azul-oscuro-1);
}

.logoIndexPrincipal{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}        
  .brillo {
            transition: filter 0.5s; /* Transición para suavizar el efecto */
     }

.brillo:hover {
filter: brightness(1.5); /* Aumenta el brillo al pasar el mouse */
}


/*UnorderList Navbar*/
 .nav-link {
            display: inline-block; 
            position: relative;
            color: rgb(246, 241, 241); 
            text-decoration: none; 
        }

        .nav-link::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: rgb(199, 199, 208); 
            transform: scaleX(0); 
            transition: transform 0.3s ease;
        }

        .nav-link:hover::after {
            transform: scaleX(1); 
        }

/* input,boton input y dos svg */
.contenedorPerfilYCart{
  background-color: var(--azul-oscuro-1);
  display: flex;
 justify-content: center;
 align-items: center;
 height: 40px;
 
}

.botonSearch{
 border-radius: 30px;
 background-color: rgb(159, 157, 157);
 border: 2px solid white;
 padding: 3px;
}
.botonSearch:hover{
  background: grey;
}

#searchInput{
  border-radius: 20px;
  width:180px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.301);
}


/*Acerca de nosotros Sección*/
.fotoAcercaDeNosotros{
  height: 400px;
  width: 250px;
  }

/* Footer seccion*/
.colorFooter {
  background-color: var(--azul-oscuro-1);
}
.text-style {
  display: block;
  color: rgb(190, 190, 190);
  text-decoration: none;
  margin-bottom: 3px;
  transition: transform 0.2s ;
}
.text-style:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ;
}
.icons {
  display: inline-block;
  color: rgb(190, 190, 190);
  transition: transform 0.3s;
}
.icons:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
}
.footerFont{
    display: block;
    text-align: center;
    font-size: 13px;
}
@media (width < 576px) {
  .centrarTexto {
    text-align: center;
  }
}

